@model Models.Home

<div class="form-group">
    <label asp-for="Number" class="control-label"></label>
    <input asp-for="Number" class="form-control" />
    <span asp-validation-for="Number" class="text-danger"></span>
</div>
@foreach (var room in Model.Rooms)
{
    @await Html.PartialAsync("Room", room)
}
