@model Models.State

@{
    var stateContentCardHeaderId = $"stateContentHeaderFor{Model.Name}";
    var stateContentId = $"stateContentFor{Model.Name}";
}

<div class="col">
    <div class="card mb-3">
        <div class="card-header" id="@stateContentCardHeaderId">
            <a data-toggle="collapse" data-parent="#faq" href="#@stateContentId" aria-expanded="true" aria-controls="@stateContentId">State</a>
        </div>
        <div id="@stateContentId" class="collapse show" aria-labelledby="@stateContentCardHeaderId">
            <div class="card-body">
                <div class="row">
                    <div class="col-md-6">
                        <div class="form-group row">
                            <label asp-for="Name" class="control-label"></label>
                            <div class="col">
                                <input asp-for="Name" class="form-control" />
                            </div>
                            <span asp-validation-for="Name" class="text-danger"></span>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="form-group row">
                            <label asp-for="IsTerritory" class="control-label"></label>
                            <div class="col">
                                <input asp-for="IsTerritory" class="form-control" />
                            </div>
                            <span asp-validation-for="IsTerritory" class="text-danger"></span>
                        </div>
                    </div>
                </div>
                <div class="row">
                    @foreach (var location in Model.Locations)
                    {
                        @await Html.PartialAsync("Location", location)
                    }
                </div>
            </div>
        </div>
    </div>
</div>