@model Models.Street

<div class="form-group">
    <label asp-for="Name" class="control-label"></label>
    <input asp-for="Name" class="form-control" />
    <span asp-validation-for="Name" class="text-danger"></span>
</div>
@foreach (var home in Model.Homes)
{
    @await Html.PartialAsync("Home", home)
}
