@model Models.AustralianHomes

@{
  var modelId = Html.IdForModel();
  var addButtonId = $"{modelId}_addButton";
}

@Html.EditorFor(m => m.States)
<div class="row">
  <button id="@addButtonId" type="button" class="btn btn-outline-primary"
          data-repeater-add-button=""
          data-repeater-id="@Html.IdFor(m => m.States)"
          data-repeater-name="@Html.NameFor(m => m.States)">
    Add State
  </button>
</div>

